body{
    background-color: darkslategrey;
    text-align: center;
    color: black;
    font-family: monospace;
}
a {
    color: cornsilk;
    text-decoration: none;
}
a:hover {
    color: crimson;
}
main {
    text-align: left;
    margin: 0 20%;
}
h2 {
    text-align: center;
}
img{
    width: 60%;
}
figure {
    text-align: center;
    font-style: italic;
}
ul{
    text-align: left;
    list-style-position: inside;
}
.questions {
    font-size: 15px;
}
